@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1569379329464'); /* IE9 */
  src: url('iconfont.eot?t=1569379329464#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABoAAAAKOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIELATYCJAMICwYABCAFhG0HORu6Bcg+QTZkA331iICks8Y6z9p9UzRfi+aWfziyXAoRPD+H3kt+CcGVt2kGNQXEanOajUbLujpXS7dpXcbuRKfLqApdla6+7F3uv+8v1eM0g8Ux/oUMwmGpDOYEkP2uBSzYgFNOvL7vKOXtjZ5WsKlXpdr4uRvYMnpP7/FlDGsxWFt5tfFTHbdGHE6bQIHMB8ptjkGTuoC6OJAC2xPbZEUSecPYBS/wPIFKvYYKuw7Pr6AusacF4rzRFtQLPkliyXKhtGFtEu+UKM/eZPE2+n78txh1MiU5u2zvuQMXlr9w0vLHxWMnAwI/AW0uQY5pIBEHG2O7lQSjlVTGygbBsYqDXxRFYBBH1Qr219mF1aAb8p6J7wkeNZnBY/U0AixMeggxcm99RjegNeG4Wddsd000Q6t37COu/xr3Ldo2vjzS9p+zk+//FY/fZP2nMPf+LBpkkG//7N13z/zz8KcQgE2A4rycAoLH94sbZ3qr23UJfHU7Ik9xMswByvdsD/4Qf2BTMoS2Pksav7E9M3LmikqVKGBXo9+pqpbbSYVyLRMcZXoy5MoNExN1GiWqLKNUuQ1UmnK0uUoTVhKpApM+AEK9T2RqfUGuXk5M1D1KtPpDqfooodLhaNqzymiY5k4mS8hF20dD40i5RmnGxReknwKL88KIfkOcmSDOxtNy8ogi4iUWZFbPRStUMg7xEFxGQRBjImOPHBnvtCSLyUQ1vWnssBCadmLEIogL2d4gwxGLqKCzaFY+f4FoTwIW7mioc94gLGP6RzNj0wHEI1k0qOFRrsk80+aEUJDCYiF0CEaRQCCGkuZRHuIQY7sJkcTCxGmlhsrG2yvCv9sFlWx1Fs6gXN1lE2nPWK8h19MCAAAA') format('woff2'),
  url('iconfont.woff?t=1569379329464') format('woff'),
  url('iconfont.ttf?t=1569379329464') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1569379329464#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pingjiaxingxing:before {
  content: "\e662";
}

